<p id="notice"><%= notice %></p>

<h1>Listing Knife Switch Slices</h1>

<table>
  <thead>
    <tr>
      <th>Mould</th>
      <th>Project</th>
      <th>Terminal leoni</th>
      <th>Knife type1</th>
      <th>Knife type2</th>
      <th>Wire type</th>
      <th>Image after</th>
      <th>Image before</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @knife_switch_slices.each do |knife_switch_slice| %>
      <tr>
        <td><%= knife_switch_slice.mould_id %></td>
        <td><%= knife_switch_slice.project_id %></td>
        <td><%= knife_switch_slice.terminal_leoni_id %></td>
        <td><%= knife_switch_slice.knife_type1 %></td>
        <td><%= knife_switch_slice.knife_type2 %></td>
        <td><%= knife_switch_slice.wire_type %></td>
        <td><%= knife_switch_slice.image_after %></td>
        <td><%= knife_switch_slice.image_before %></td>
        <td><%= link_to 'Show', knife_switch_slice %></td>
        <td><%= link_to 'Edit', edit_knife_switch_slice_path(knife_switch_slice) %></td>
        <td><%= link_to 'Destroy', knife_switch_slice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Knife switch slice', new_knife_switch_slice_path %>
