<p id="notice"><%= notice %></p>
<style type="text/css">
    .col-sm-6, .col-sm-12 {
        display: inline-flex;
    }

    p {
        width: 150px;
    }

    hr {
        border: 1px solid #999;
    }

    .col-sm-6 {
        height: 40px;
    }

    img {
        text-align: center;
        margin: 0;
    }
</style>
<h1>换刀切片<em>详情</em></h1>
<hr style="border: 1px solid #000"/>

<div>
  <div class="col-sm-6">
    <p>模具号：</p>
    <%= @knife_switch_slice.mould_id %>
  </div>

  <div class="col-sm-6">
    <p>项目：</p>
    <%= @knife_switch_slice.project_id %>
  </div>
  <hr/>

  <div class="col-sm-6">
    <p>日期：</p>
    <%= @knife_switch_slice.switch_date_day_str %>
  </div>

  <div class="col-sm-6">
    <p>端子莱尼号：</p>
    <%= @knife_switch_slice.terminal_leoni_id %>
  </div>
  <hr/>

  <div class="col-sm-6">
    <p>刀片型号1：</p>
    <%= @knife_switch_slice.knife_type1 %>
  </div>

  <div class="col-sm-6">
    <p>刀片型号2：</p>
    <%= @knife_switch_slice.knife_type2 %>
  </div>
  <hr/>

  <div class="col-sm-6">
    <p>电线型号：</p>
    <%= @knife_switch_slice.wire_type %>
  </div>

  <div class="col-sm-6">
    <p>截面mm：</p>
    <%= @knife_switch_slice.wire_cross.to_i %>
  </div>
  <hr/>

  <!--<div class="col-sm-6">-->
  <!--<p>剖面：</p>-->
  <!--<img src="/images?image=<%= URI::encode(@knife_switch_slice.image_after) %>" width="50" height="40" alt=""/>-->
  <!--</div>-->

  <div class="col-sm-6">
    <p>剖面：</p>
    <a href="mold:open?file=<%= @knife_switch_slice.image_after %>"><%= @knife_switch_slice.image_after %></a>
  </div>

  <div class="col-sm-6">
    <p>验收确认：</p>
    <%= @knife_switch_slice.is_ok %>
  </div>
  <hr/>

  <div class="col-sm-12">
    <p>剖面（换刀前）：</p>
    <a href="mold:open?file=<%= @knife_switch_slice.image_before %>"><%= @knife_switch_slice.image_before %></a>
  </div>

  <!--<div class="col-sm-12">-->
  <!--<p>剖面（换刀前）：</p>-->
  <!--<img src="/images?image=<%= URI::encode(@knife_switch_slice.image_before) %>" width="50" height="40" alt="" style="border-radius: 8px;"/>-->
  <!--</div>-->
</div>
<hr style="border: 1px solid #000"/>
<% if current_user.can_edit %>
    <%= link_to '编辑', edit_knife_switch_slice_path(@knife_switch_slice), :class => 'btn btn-info', :style => 'color:#000;padding-top:10px; margin-left:2%;margin-top:1%;' %>
<% end %>
<%= link_to '返回', knife_switch_slices_path, :class => 'btn btn-info', :style => 'color:#000; margin-left:2%;padding-top:10px;margin-top:1%;' %>
