<p id="notice"><%= notice %></p>

<p>
  <strong>Mould:</strong>
  <%= @knife_switch_slice.mould_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @knife_switch_slice.project_id %>
</p>

<p>
  <strong>Terminal leoni:</strong>
  <%= @knife_switch_slice.terminal_leoni_id %>
</p>

<p>
  <strong>Knife type1:</strong>
  <%= @knife_switch_slice.knife_type1 %>
</p>

<p>
  <strong>Knife type2:</strong>
  <%= @knife_switch_slice.knife_type2 %>
</p>

<p>
  <strong>Wire type:</strong>
  <%= @knife_switch_slice.wire_type %>
</p>

<p>
  <strong>Image after:</strong>
  <%= @knife_switch_slice.image_after %>
</p>

<p>
  <strong>Image before:</strong>
  <%= @knife_switch_slice.image_before %>
</p>

<%= link_to 'Edit', edit_knife_switch_slice_path(@knife_switch_slice) %> |
<%= link_to 'Back', knife_switch_slices_path %>
