<p id="notice"><%= notice %></p>

<style type="text/css">
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }

    .col-sm-2 > input {
        margin-top: 20px;
        width: 100px;
    }

    hr {
        border: 1px solid #000;
    }

</style>
<p class="title">模具维护记录 <i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 158px;"/>

<div class="slide">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div style="display: inline-flex;" class="col-sm-12">
      <div class="col-sm-3">
        <b>模具号：</b>
        <input type="text" name="mould_maintain_record[mould_id]" value="<%= @mould_id %>">
      </div>

      <!--此处开始 是 新增查询条件项-->

      <div class="col-sm-4">
        <b>维护次数：</b>
        <input type="text" name="mould_maintain_record[count]" value="<%= @count %>">
      </div>

      <div class="col-sm-4">
        <b>计划维护日期：</b>
        <input type="text" name="mould_maintain_record[plan_date]" value="<%= @plan_date %>" class="datetime-picker">
      </div>
    </div>

    <div style="display: inline-flex;" class="col-sm-12">
      <div class="col-sm-4" style="margin-top: 20px;">
        <b>实际维护日期：</b>
        <input type="text" name="mould_maintain_record[real_date]" value="<%= @real_date %>" class="datetime-picker">
      </div>

      <!--新增查询条件项 至此结束-->
      <div class="col-sm-2" style="display: inline-flex;">
        <input type="submit" value="查 找" class="btn btn-primary" name="search"/>
        <!--<input type="submit" value="导 出" class="btn btn-primary" name="download"/>-->
      </div>
    </div>
  </form>
</div>
<hr/>

<div style="display: inline-flex;width: 100%">
  <div class="trapezoid">
    <p style="margin-top: 25%;">维护记录</p>
  </div>
  <div class="digg_pagination" style="margin-top: 30px;">
    <div class="page_info">
      <%= page_entries_info @mould_maintain_records %>
    </div>
    <%= will_paginate @mould_maintain_records, :container => false %>
  </div>
  <div style="display: inline-flex;margin-left: 20px;">
    <%= link_to '新增', new_mould_maintain_record_path, :class => 'btn btn-info',
                :style => 'color:#000;padding-top:10px;margin-left:10px;' %>

    <%= link_to '导入数据', import_mould_maintain_records_path, :class => 'btn btn-primary',
                :style => 'color:#000;padding-top:10px;margin-left:50px;' %>
  </div>
</div>

<div style="margin-left:50px;" id="table_div">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr style="background-color: #ccc">
      <th style="width: 110px;">模具号</th>
      <th>维护次数</th>
      <th>计划维护日期</th>
      <th>实际维护日期</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @mould_maintain_records.each do |mould_maintain_record| %>
        <tr>
          <td><%= mould_maintain_record.mould_id %></td>
          <td><%= mould_maintain_record.count %></td>
          <td><%= mould_maintain_record.plan_date_day_str %></td>
          <td><%= mould_maintain_record.real_date_day_str %></td>
          <!--在这修改备注id-->
          <td><%= mould_maintain_record.note %></td>
          <td><%= link_to '[详情]', mould_maintain_record %>
            <%= link_to '[编辑]', edit_mould_maintain_record_path(mould_maintain_record) %>
            <%= link_to '[删除]', mould_maintain_record, method: :delete, data: {confirm: '确认删除?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <!--
  <div class="digg_pagination" style="text-align: center">
    <%= will_paginate @mould_maintain_records, :container => false %>
  </div>
  -->
</div>