<p id="notice"><%= notice %></p>

<style type="text/css">
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }

    .col-sm-1 {
        margin-top: 10px;
        text-align: left;
    }

    .col-sm-2 {
        margin-left: 100px;
        text-align: left;
    }

    .col-sm-2>input {
        margin-top: 20px;
        width: 100px;
    }

    hr {
        margin-top: 80px;
        border: 1px solid #000;
    }

</style>

<div style="display: inline-flex;" class="col-sm-12">
  <div class="col-sm-2">
    <b>模具号：</b>
    <input type="text">
  </div>

  <div style="display: inline-flex;" class="col-sm-1">
    <%= link_to '查询', '', :class => 'btn btn-primary',
                :style => 'color:#000;padding-top:10px;margin:0;' %>
  </div>

</div>
<hr/>

<div style="display: inline-flex;width: 100%">
  <div class="trapezoid">
    <p style="margin-top: 25%;">维护记录</p>
  </div>
  <div style="display: inline-flex;margin-left: 20%;">
    <%= link_to '新增', new_mould_maintain_record_path, :class => 'btn btn-info',
                :style => 'color:#000;padding-top:10px;margin-left:10px;' %>

    <%= link_to '导入数据', import_mould_maintain_records_path, :class => 'btn btn-primary',
                :style => 'color:#000;padding-top:10px;margin-left:50px;' %>

    <%= link_to '导出数据', import_mould_details_path, :class => 'btn btn-primary',
                :style => 'color:#000;padding-top:10px;margin-left:10px;' %>
  </div>
</div>

<div style="margin-left: 100px;margin-right: 5%;">

  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr style="background-color: #ccc">
      <th style="width: 110px;">模具号</th>
      <th>维护次数</th>
      <th>计划维护日期</th>
      <th>实际维护日期</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @mould_maintain_records.each do |mould_maintain_record| %>
        <tr>
          <td><%= mould_maintain_record.mould_id %></td>
          <td><%= mould_maintain_record.count %></td>
          <td><%= mould_maintain_record.plan_date %></td>
          <td><%= mould_maintain_record.real_date %></td>
          <td><%= link_to '[详情]', mould_maintain_record %>
            <%= link_to '[编辑]', edit_mould_maintain_record_path(mould_maintain_record) %>
            <%= link_to '[删除]', mould_maintain_record, method: :delete, data: {confirm: '确认删除?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>