<p id="notice"><%= notice %></p>
<style type="text/css">

    th, td {
        text-align: center;
    }

    .col-sm-4, .col-sm-2, .col-sm-3 {
        float: none;
        text-align: left;
        margin: 0;
    }

    .btn, .btn-primary {
        margin-bottom: 0;
    }
</style>

<p class="title">备件信息</p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 158px;"/>


<div class="slide">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">

    <div style="display: inline-flex;" class="col-sm-12">
      <div class="col-sm-2">
        <b>模具号：</b>
        <input type="text" name="spare_part[mould_id]" value="<%= @mould_id %>">
      </div>

      <div class="col-sm-3">
        <b>项目：</b>
        <input type="text" name="spare_part[project_id]" value="<%= @project_id %>">
      </div>

      <div class="col-sm-3">
        <b>备件型号：</b>
        <input type="text" name="spare_part[spare_type]" value="<%= @spare_type %>">
      </div>

      <div class="col-sm-4">
        <b>损坏状态：</b>
        <input type="text" name="spare_part[spare_kind]" value="<%= @spare_kind %>">
      </div>
    </div>

    <div style="display: inline-flex;margin-top:20px;" class="col-sm-12">
      <div class="col-sm-2">
        <b>维护人员：</b>
        <input type="text" name="spare_part[maintainman]" value="<%= @maintainman %>">
      </div>

      <div class="col-sm-3">
        <b>机器号：</b>
        <input type="text" name="spare_part[machine_id]" value="<%= @machine_id %>">
      </div>

      <div class="col-sm-3">
        <b>出库单号：</b>
        <input type="text" name="spare_part[outbound_id]" value="<%= @outbound_id %>">
      </div>

      <div class="col-sm-2" style="display: inline-flex;">
        <input type="submit" value="查 找" class="btn btn-primary" name="search"/>
        <input type="submit" value="导 出" class="btn btn-primary" name="download"/>
      </div>
    </div>
  </form>
</div>
<hr style="border: 1px solid #000;">

<div style="display: inline-flex;width: 100%;">
  <div class="trapezoid">
    <p style="padding-top: 20px;">备件信息</p>
  </div>

  <div class="digg_pagination" style="padding-top: 30px;">
    <div class="page_info">
      <%= page_entries_info @mould_details %>
    </div>
    <%= will_paginate @mould_details, :container => false %>
  </div>
  <div style="display: inline-flex;margin-left: 20px;">
    <%= link_to '新增', new_spare_part_path, :class => 'btn btn-info',
                :style => 'color:#000;padding-top:10px;margin-left:10px;' %>

    <%= link_to '导入数据', import_spare_parts_path, :class => 'btn btn-primary',
                :style => 'color:#000;padding-top:10px;margin-left:50px;' %>
  </div>
</div>

<div style="margin-left:100px;margin-right: 100px;">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr style="background-color: #ccc">
      <th style="width: 110px;">日期</th>
      <th>模具号</th>
      <th>项目</th>
      <th>备件类型</th>
      <th>型号分类</th>
      <th>损坏状态</th>
      <th>维护人员</th>
      <th>数量</th>
      <th>机器号</th>
      <th>出库单号</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @spare_parts.each do |spare_part| %>
        <tr>
          <td><%= spare_part.record_date.nil? ? '' : spare_part.record_date.localtime.strftime("%Y-%m-%d")  %></td>
          <td><%= spare_part.mould_id %></td>
          <td><%= spare_part.project_id %></td>
          <td><%= spare_part.spare_type %></td>
          <td><%= spare_part.spare_kind %></td>
          <td><%= spare_part.broken_state %></td>
          <td><%= spare_part.maintainman %></td>
          <td><%= spare_part.qty %></td>
          <td><%= spare_part.machine_id %></td>
          <td><%= spare_part.outbound_id %></td>
          <td><%= link_to '[详情]', spare_part %>
            <%= link_to '[编辑]', edit_spare_part_path(spare_part) %>
            <%= link_to '[删除]', spare_part, method: :delete, data: {confirm: '确定删除?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>