<p id="notice"><%= notice %></p>

<style type="text/css">

    .col-sm-4 {
        float: none;
        margin-left: 20px;
        text-align: left;
        display: inline-flex;
        width: 30%;
        margin-top: 10px;
    }

    p {
        width: 150px;
    }

    hr {
        border: 1px solid #ccc;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    h1 {
        margin-left: 10px;
    }
</style>

<h1>备件信息<em>详情</em></h1>

<div style="display: inline-flex; width: 100%; ">
  <div class="col-sm-4" style="display: inline-flex;">
    <p>日期： </p>
    <%= @spare_part.record_date %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>模具号： </p>
    <%= @spare_part.mould_id %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>项目： </p>
    <%= @spare_part.project_id %>
  </div>
</div>
<hr/>

<div style="display: inline-flex; width: 100%; ">
  <div class="col-sm-4" style="display: inline-flex;">
    <p>备件型号： </p>
    <%= @spare_part.spare_type %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>型号分类： </p>
    <%= @spare_part.spare_kind %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>损坏状态： </p>
    <%= @spare_part.broken_state %>
  </div>
</div>
<hr/>

<div style="display: inline-flex; width: 100%; ">
  <div class="col-sm-4" style="display: inline-flex;">
    <p>维护人员： </p>
    <%= @spare_part.maintainman %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>数量： </p>
    <%= @spare_part.qty %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>机器号： </p>
    <%= @spare_part.machine_id %>
  </div>
</div>
<hr/>

<div style="display: inline-flex; width: 100%; ">
  <div class="col-sm-4" style="display: inline-flex;">
    <p>出库单号： </p>
    <%= @spare_part.outbound_id %>
  </div>

</div>
<hr style="border: 1px solid #000">

<%= link_to '编辑', edit_spare_part_path(@spare_part), :class => 'btn btn-info', :style => 'color:#000; margin-left:2%;margin-top:1%;' %>
<%= link_to '返回', spare_parts_path, :class => 'btn btn-info', :style => 'color:#000; margin-left:2%;margin-top:1%;' %>


