<div class="LeftNav" id="MouldDetail" onmousemove="MouldDetail()">
  <a href="<%= mould_details_path %>" style="text-decoration: none; "><h3>模具明细</h3></a>
</div>

<div class="LeftNav" id="ChgKnifeRec" onmousemove="ChgKnifeRec()">
  <a href="<%= knife_switch_records_path %>" style="text-decoration: none;"><h3>换刀记录</h3></a>
</div>

<div class="LeftNav" id="ChgKnifeSlice" onmousemove="ChgKnifeSlice()">
  <a href="<%= knife_switch_slices_path %>" style="text-decoration: none;"><h3>换刀切片</h3></a>
</div>

<div class="LeftNav" id="MouldMaint" onmousemove="MouldMaint()">
  <a href="<%= mould_maintain_records_path %>" style="text-decoration: none;"><h3>模具维护记录</h3></a>
</div>

<div class="LeftNav" id="MouldRepair" onmousemove="MouldRepair()">
  <a href="<%= mould_maintain_times_path %>" style="text-decoration: none;"><h3>模具维修时间</h3></a>
</div>

<div class="LeftNav" id="MouldRepair" onmousemove="MouldRepair()">
  <a href="<%= spare_parts_path %>" style="text-decoration: none;"><h3>备件信息表</h3></a>
</div>

<div class="LeftNav" id="GNRTReport" onmousemove="GNRTReport()">
  <a href="/report" style="text-decoration: none;"><h3>生成报表</h3></a>
</div>

<div class="LeftNav" id="GNRTReport" onmousemove="GNRTReport()">
  <a href="<%= images_path %>" style="text-decoration: none;"><h3>图片</h3></a>
</div>
