<style type="text/css">
    input[type="submit"] {
        margin-left: 1%;
        height: 50px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #286090;
    }

    .col-sm-4, .col-sm-12 {
        float: none;
        text-align: left;
        display: inline-flex;
    }

    .col-sm-12>input {
        width: 11%;
    }

    label {
        width: 150px;
    }
</style>


<%= form_for(@mould_detail) do |f| %>
    <% if @mould_detail.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@mould_detail.errors.count, "error") %> prohibited this mould_detail from being saved:</h2>

          <ul>
            <% @mould_detail.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :mould_id, '模具号:' %>
        <%= f.text_field :mould_id %>
      </div>

      <div class="col-sm-4">
        <%= f.label :mould_type, '模具型号:' %>
        <%= f.text_field :mould_type %>
      </div>

      <div class="col-sm-4">
        <%= f.label :mould_supplier, '模具供应商:' %>
        <%= f.text_field :mould_supplier %>
      </div>
    </div>

    <div style="display: inline-flex; width: 100%; margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :terminal_leoni_no, '端子莱尼号:' %>
        <%= f.text_field :terminal_leoni_no %>
      </div>
    </div>

    <div style="display: inline-flex; width: 100%; margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :terminal_supplier, '端子供应商号:' %>
        <%= f.text_field :terminal_supplier %>
      </div>

      <div class="col-sm-4">
        <%= f.label :stopwater, '防水塞:' %>
        <%= f.text_field :stopwater %>
      </div>

      <div class="col-sm-4">
        <%= f.label :use_range, '使用范围:' %>
        <%= f.text_field :use_range %>
      </div>
    </div>


    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :wire_type, '电线型号:' %>
        <%= f.text_field :wire_type %>
      </div>

      <div class="col-sm-4">
        <%= f.label :wire_cross, '电线截面qmm:' %>
        <%= f.text_field :wire_cross %>
      </div>

      <div class="col-sm-4">
        <%= f.label :original_param_ch, '原始参数ch:' %>
        <%= f.text_field :original_param_ch %>
      </div>
    </div>

    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :original_param_cw, '原始参数cw:' %>
        <%= f.text_field :original_param_cw %>
      </div>

      <div class="col-sm-4">
        <%= f.label :actual_param_ch, '实测参数ch:' %>
        <%= f.text_field :actual_param_ch %>
      </div>

      <div class="col-sm-4">
        <%= f.label :actual_param_cw, '实测参数cw:' %>
        <%= f.text_field :actual_param_cw %>
      </div>
    </div>


    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :actual_param_ich, '实测参数ich:' %>
        <%= f.text_field :actual_param_ich %>
      </div>

      <div class="col-sm-4">
        <%= f.label :actual_param_icw, '实测参数icw:' %>
        <%= f.text_field :actual_param_icw %>
      </div>

      <div class="col-sm-4">
        <%= f.label :step_dch_id, '步骤dch:' %>
        <%= f.text_field :step_dch_id %>
      </div>
    </div>

    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :step_ich_id, '步骤ich:' %>
        <%= f.text_field :step_ich_id %>
      </div>

      <div class="col-sm-4">
        <%= f.label :next_time, '下次批准日期:' %>
        <%= f.text_field :next_time, class: 'datetime-picker' %>
      </div>

      <div class="col-sm-4">
        <%= f.label :c_up_knife, '芯线上刀:' %>
        <%= f.text_field :c_up_knife %>
      </div>
    </div>

    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :i_up_knife, '绝缘上刀:' %>
        <%= f.text_field :i_up_knife %>
      </div>

      <div class="col-sm-4">
        <%= f.label :c_down_knife, '芯线下刀:' %>
        <%= f.text_field :c_down_knife %>
      </div>

      <div class="col-sm-4">
        <%= f.label :i_down_knife, '绝缘下刀:' %>
        <%= f.text_field :i_down_knife %>
      </div>
    </div>


    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :upper_punch, '上冲头:' %>
        <%= f.text_field :upper_punch %>
      </div>

      <div class="col-sm-4">
        <%= f.label :coc, '切断刀:' %>
        <%= f.text_field :coc %>
      </div>

      <div class="col-sm-4">
        <%= f.label :coh, '切断刀座:' %>
        <%= f.text_field :coh %>
      </div>
    </div>


    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :feeding_claw, '送料爪:' %>
        <%= f.text_field :feeding_claw %>
      </div>

      <div class="col-sm-4">
        <%= f.label :after_groove, '后凹模:' %>
        <%= f.text_field :after_groove %>
      </div>

      <div class="col-sm-4">
        <%= f.label :before_groove, '前凹模:' %>
        <%= f.text_field :before_groove %>
      </div>
    </div>


    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :oil_cup, '油杯:' %>
        <%= f.text_field :oil_cup %>
      </div>

      <div class="col-sm-4">
        <%= f.label :buy_time, '模具买到日期:' %>
        <%= f.text_field :buy_time, class: 'datetime-picker' %>
      </div>

      <div class="col-sm-4">
        <%= f.label :release_report, '放行报告:' %>
        <%= f.text_field :release_report %>
      </div>
    </div>


    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :fixed_asset_id, '固定资产号:' %>
        <%= f.text_field :fixed_asset_id %>
      </div>

      <div class="col-sm-4">
        <%= f.label :is_idle, '是否闲置:' %>
        <%= f.text_field :is_idle %>
      </div>

      <div class="col-sm-4">
        <%= f.label :idle_time, '闲置日期:' %>
        <%= f.text_field :idle_time, class: 'datetime-picker' %>
      </div>
    </div>

    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">

      <div class="col-sm-4">
        <%= f.label :note, '备注:' %>
        <%= f.text_field :note %>
      </div>
    </div>

    <hr style="border: 1px solid #000;opacity: 0.5;"/>

    <button type="submit" style="margin-left: 10px;margin-top:0;" class="btn btn-primary" name="commit">完成</button>
<% end %>

<script type="text/javascript">
    $(document).ready(function () {
        $("#mould_detail_mould_state").val("<%= @mould_detail.mould_state %>");
    });
</script>
