<style type="text/css">
    .selectfont {
        font-size: 1.5em;
        margin-left: 5px;
    }

    .selectinput {
        margin-left: 5px;
        width: 120px;
    }

    .btn {
        margin-left: 10%;
        color: #000;
        width: 100px;
        height: 40px;
    }

    hr {
        border: 1px solid #999;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<p id="notice"><%= notice %></p>
<div style="display: inline-flex; ">
  <div>
    <b class="selectfont">库位：</b>
    <input class="selectinput" type="text">
  </div>
  <div>
    <b class="selectfont">端子莱尼号：</b>
    <input class="selectinput" type="text">
  </div>

  <div>
    <b class="selectfont">电线型号：</b>
    <input class="selectinput" type="text">
  </div>


  <div>
    <b class="selectfont">电线截面QMM：</b>
    <input class="selectinput" type="text">
  </div>

  <div>
    <b class="selectfont">下次批准日期：</b>
    <input class="selectinput" type="text">
  </div>

  <div>
    <b class="selectfont">状态：</b>
    <select>
      <option value="未过期">未过期</option>
      <option value="即将过期">即将过期</option>
      <option value="已过期">已过期</option>
    </select>
  </div>

  <div>
    <button type="button" class="btn btn-primary">查询</button>
  </div>
</div>
<div style="display: inline-flex;">
  <%= link_to '导入数据', import_mould_details_path, :class => 'btn btn-info' %>
  <button type="button" class="btn btn-primary">导出</button>
  <%= link_to "新增", new_mould_detail_path, :class => 'btn btn-primary',
              :style => 'color:#000;padding-top:10px;' %>
</div>

<hr>

<div class="trapezoid">
  <p style="margin-top: 25%;">模具明细表</p>
</div>

<div style="margin-left: 5%;margin-right: 5%;">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr style="background-color: #ccc">
      <th style="width: 110px;">库位号</th>
      <th>莱尼端子号</th>
      <th>端子供应商号</th>
      <th>电线型号</th>
      <th>电线截面QMM</th>
      <th>下次批准日期</th>
      <th>状态</th>
      <th>模具型号</th>
      <th>模具供应商</th>
      <th>操作</th>

    </tr>
    </thead>

    <tbody>
    <% @mould_details.each do |mould_detail| %>
        <tr>
          <td><%= mould_detail.mould_id %></td>
          <td><%= mould_detail.mould_type %></td>
          <td><%= mould_detail.mould_supplier %></td>
          <td><%= mould_detail.position %></td>
          <td><%= mould_detail.terminal_leoni_no %></td>
          <td><%= mould_detail.terminal_supplier %></td>
          <td><%= mould_detail.stopwater %></td>
          <td><%= mould_detail.use_range %></td>
          <td><%= mould_detail.wire_type %></td>

          <td>[<%= link_to '详情', mould_detail %>] [<%= link_to '编辑', edit_mould_detail_path(mould_detail) %>]
            [<%= link_to '删除', mould_detail, method: :delete, data: {confirm: '确认删除?'} %>]
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
