<p id="notice"><%= notice %></p>

<p>
  <strong>Mould:</strong>
  <%= @mould_detail.mould_id %>
</p>

<p>
  <strong>Mould type:</strong>
  <%= @mould_detail.mould_type %>
</p>

<p>
  <strong>Mould supplier:</strong>
  <%= @mould_detail.mould_supplier %>
</p>

<p>
  <strong>Position:</strong>
  <%= @mould_detail.position %>
</p>

<p>
  <strong>Terminal leoni no:</strong>
  <%= @mould_detail.terminal_leoni_no %>
</p>

<p>
  <strong>Terminal supplier:</strong>
  <%= @mould_detail.terminal_supplier %>
</p>

<p>
  <strong>Stopwater:</strong>
  <%= @mould_detail.stopwater %>
</p>

<p>
  <strong>Use range:</strong>
  <%= @mould_detail.use_range %>
</p>

<p>
  <strong>Wire type:</strong>
  <%= @mould_detail.wire_type %>
</p>

<p>
  <strong>Wire cross:</strong>
  <%= @mould_detail.wire_cross %>
</p>

<%= link_to 'Edit', edit_mould_detail_path(@mould_detail) %> |
<%= link_to 'Back', mould_details_path %>
