<% if current_user.admin? || current_user.manager? %>
    <h2>员工列表</h2>

    <div>
      <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
        <div>
      <span>员工号：
        <input type="text" name="user[id]" value="<%= @id %>"/>
        <input type="hidden" name="user[id_fuzzy]"/>
      </span>
      <span>  角色：
        <%= select_tag('user[role_id]', options_for_select(Role.menu, @role_id), include_blank: true) %>
      </span>
          <input type="submit" value="查 找" class="btn btn-primary"/>
        </div>
      </form>
    </div>

    <% if current_user.admin? %>
        <%= link_to "新建员工", send("new_#{@model}_path"), :class => 'btn btn-default' %>
        <%= link_to '导入数据', import_users_path, :class => 'btn btn-primary',
                    :style => 'color:#000;padding-top:10px;margin-left:50px;' %>
    <% end %>
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @users %>
      </div>
      <%= will_paginate @users, :container => false %>
    </div>
<% end %>


<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>登陆名</th>
    <th>邮箱</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to '详情', user_path(user), class: 'btn btn-default' %>
        </td>
        <% if current_user.can_edit %>
            <td>
              <%= link_to '编辑', edit_user_path(user), class: 'btn btn-default' %>
            </td>
        <% end %>
        <% if current_user.can_delete %>
        <td>
          <%= link_to '删除', user, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>