<!DOCTYPE html>
<html>
<head>
  <title>模具管理系统</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body style="overflow: auto;">
<div style="overflow: hidden;">
  <%= render 'shares/head' %>
</div>


<div style="display: inline-flex; width: 100%;height: 900px;">
  <div style="float: left;width: 10%;background-color: #424A5D">
    <%= render 'shares/left' %>
  </div>
  <div style="float:right; width: 100%;background-color: #F2F2F2;text-align: center;padding-top: 10%;">
    <%= yield %>
  </div>
</div>

</body>
</html>
