<p id="notice"><%= notice %></p>

<h1>Listing Mould Maintain Times</h1>

<table>
  <thead>
    <tr>
      <th>Mould</th>
      <th>Project</th>
      <th>Device</th>
      <th>Serviceman</th>
      <th>Err note</th>
      <th>Solution method</th>
      <th>Code</th>
      <th>Feed code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mould_maintain_times.each do |mould_maintain_time| %>
      <tr>
        <td><%= mould_maintain_time.mould_id %></td>
        <td><%= mould_maintain_time.project_id %></td>
        <td><%= mould_maintain_time.device_id %></td>
        <td><%= mould_maintain_time.serviceman %></td>
        <td><%= mould_maintain_time.err_note %></td>
        <td><%= mould_maintain_time.solution_method %></td>
        <td><%= mould_maintain_time.code %></td>
        <td><%= mould_maintain_time.feed_code %></td>
        <td><%= link_to 'Show', mould_maintain_time %></td>
        <td><%= link_to 'Edit', edit_mould_maintain_time_path(mould_maintain_time) %></td>
        <td><%= link_to 'Destroy', mould_maintain_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mould maintain time', new_mould_maintain_time_path %>
