<p id="notice"><%= notice %></p>

<style type="text/css">
    .col-sm-2 {
        text-align: left;
    }

    .col-sm-2>b, .col-sm-2>input, .col-sm-4>b, .col-sm-4>input {
        margin-top: 10px;
    }

    hr {
        margin-top: 80px;
        border: 1px solid #000;
    }
</style>

<p class="title">模具维修时间</p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 158px;"/>

<div style="display: inline-flex;" class="col-sm-12">
  <div class="col-sm-2">
    <b>项目：</b>
    <input type="text">
  </div>
  <div class="col-sm-4">
    <b>日期：从</b>
    <input type="text" class="datetime-picker"><b>到</b>
    <input type="text" class="datetime-picker">
  </div>

  <div class="col-sm-2">
    <b>模具号：</b>
    <input type="text">
  </div>


  <div class="col-sm-2">
    <b>代码：</b>
    <input type="text">
  </div>

  <div style="display: inline-flex;" class="col-sm-3">

    <%= link_to '查询', '', :class => 'btn btn-primary',
                :style => 'color:#000;padding-top:10px;margin:0;' %>
  </div>
</div>
<hr/>

<div style="display: inline-flex;width: 100%">
  <div class="trapezoid">
    <p style="margin-top: 25%;">维修时间</p>
  </div>
  <div class="digg_pagination" style="margin-top: 50px;">
    <div class="page_info">
      <%= page_entries_info @mould_maintain_times %>
    </div>
    <%= will_paginate @mould_maintain_times, :container => false %>
  </div>
  <div style="display: inline-flex;margin-left: 20px;">
    <%= link_to '新增', new_mould_maintain_time_path, :class => 'btn btn-info',
                :style => 'color:#000;padding-top:10px;margin-left:10px;' %>

    <%= link_to '导入数据', import_mould_maintain_times_path, :class => 'btn btn-primary',
                :style => 'color:#000;padding-top:10px;margin-left:50px;' %>

    <%= link_to '导出数据', import_mould_details_path, :class => 'btn btn-primary',
                :style => 'color:#000;padding-top:10px;margin-left:10px;' %>
  </div>
</div>

<div style="margin-left: 100px;margin-right: 5%;">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr style="background-color: #ccc">
      <th style="width: 110px;">模具号</th>
      <th>项目</th>
      <th>设备编号</th>
      <th>抢修人员</th>
      <th>问题描述</th>
      <th>解决措施</th>
      <th>代码</th>
      <th>送料方式</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>维修时间</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @mould_maintain_times.each do |mould_maintain_time| %>
        <tr>
          <td><%= mould_maintain_time.mould_id %></td>
          <td><%= mould_maintain_time.project_id %></td>
          <td><%= mould_maintain_time.device_id %></td>
          <td><%= mould_maintain_time.serviceman %></td>
          <td><%= mould_maintain_time.err_note %></td>
          <td><%= mould_maintain_time.solution_method %></td>
          <td><%= mould_maintain_time.code %></td>
          <td><%= mould_maintain_time.feed_code %></td>
          <td><%= mould_maintain_time.start_time %></td>
          <td><%= mould_maintain_time.end_time %></td>
          <td><%= mould_maintain_time.downtime %></td>
          <td><%= link_to '[详情]', mould_maintain_time %>
            <%= link_to '[编辑]', edit_mould_maintain_time_path(mould_maintain_time) %>
            <%= link_to '[删除]', mould_maintain_time, method: :delete, data: {confirm: '确认删除?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="digg_pagination">
    <%= will_paginate @mould_maintain_times, :container => false %>
  </div>
</div>