<p id="notice"><%= notice %></p>
<style type="text/css">

    .col-sm-6 {
        float: none;
        margin-left: 20px;
        text-align: left;
        display: inline-flex;
        width: 30%;
        margin-top: 10px;
    }

    p {
        width: 150px;
    }

    hr {
        border: 1px solid #ccc;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    h1 {
        margin-left: 10px;
    }
</style>

<h1>模具维修时间<em>详情</em></h1>

<hr style="border: 1px solid #000">

<div style="display: inline-flex; width: 100%; ">
  <div class="col-sm-6">
    <p>项目:</p>
    <%= @mould_maintain_time.project_id %>
  </div>

  <div class="col-sm-6">
    <p>日期:</p>
    <%= @mould_maintain_time.maintain_date.nil? ? '' : @mould_maintain_time.maintain_date.localtime.strftime("%Y-%m-%d") %>
  </div>

  <div class="col-sm-6">
    <p>模具号:</p>
    <%= @mould_maintain_time.mould_id %>
  </div>
</div>
<hr/>

<div style="display: inline-flex; width: 100%; ">
  <div class="col-sm-6">
    <p>设备编号:</p>
    <%= @mould_maintain_time.device_id %>
  </div>

  <div class="col-sm-6">
    <p>抢修人员:</p>
    <%= @mould_maintain_time.serviceman %>
  </div>
</div>
<hr/>

<div style="display: inline-flex; width: 100%; ">
  <div class="col-sm-6">
    <p>问题描述:</p>
    <%= @mould_maintain_time.err_note %>
  </div>

  <div class="col-sm-6">
    <p>解决措施:</p>
    <%= @mould_maintain_time.solution_method %>
  </div>
  <hr/>
</div>
<hr/>

<div style="display: inline-flex; width: 100%; ">
  <div class="col-sm-6">
    <p>代码:</p>
    <%= @mould_maintain_time.code %>
  </div>

  <div class="col-sm-6">
    <p>送料方式:</p>
    <%= @mould_maintain_time.feed_code %>
  </div>
</div>
<hr/>

<div style="display: inline-flex; width: 100%; ">
  <div class="col-sm-6">
    <p>开始时间:</p>
    <%= @mould_maintain_time.start_time %>
  </div>
  <div class="col-sm-6">
    <p>结束时间:</p>
    <%= @mould_maintain_time.end_time %>
  </div>
</div>
<hr/>

<div style="display: inline-flex; width: 100%; ">
  <div class="col-sm-6">
    <p>维修时间:</p>
    <%= @mould_maintain_time.downtime %>
  </div>
</div>


<hr style="border: 1px solid #000">

<% if current_user.can_edit %>
    <%= link_to '编辑', edit_mould_maintain_time_path(@mould_maintain_time), :class => 'btn btn-info', :style => 'color:#000; margin-left:2%;margin-top:1%;' %>
<% end %>
<%= link_to '返回', mould_maintain_times_path, :class => 'btn btn-info', :style => 'color:#000; margin-left:2%;margin-top:1%;' %>
