<style type="text/css">
    .col-sm-4 {
        text-align: left;
        margin-top: 1%;
        display: inline-flex;
    }

    label {
        width: 120px;
    }

</style>
<%= form_for(@knife_switch_record) do |f| %>
    <% if @knife_switch_record.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@knife_switch_record.errors.count, "error") %> prohibited this knife_switch_record from
            being saved:</h2>

          <ul>
            <% @knife_switch_record.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :mould_id, '模具号:' %>
        <%= f.text_field :mould_id %>
      </div>
      <div class="col-sm-4">
        <%= f.label :project_id, '项目:' %>
        <%= f.text_field :project_id %>
      </div>
      <div class="col-sm-4">
        <%= f.label :terminal_leoni_id, '端子莱尼号:' %>
        <%= f.text_field :terminal_leoni_id %>
      </div>
    </div>
    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :knife_kind, '刀片分类:' %>
        <%= f.select :knife_kind, options_for_select([['CH', 'CH'], ['CW', 'CW'], ['ICH', 'ICH'], ['ICW', 'ICW']], params[:knife_kind]),
                     {}, {:style => 'width:35%;'} %>
      </div>
      <div class="col-sm-4">
        <%= f.label :knife_supplier, '供应商:' %>
        <%= f.text_field :knife_supplier %>
      </div>
      <div class="col-sm-4">
        <%= f.label :state, '损坏状态:' %>
        <%= f.select :state, options_for_select([['磨损', '磨损'], ['断裂', '断裂']], params[:state]),
                     {}, {:style => 'width:35%;'} %>
      </div>
    </div>
    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :problem, '问题描述:' %>
        <%= f.text_field :problem %>
      </div>
      <div class="col-sm-4">
        <%= f.label :damage_define, '损坏定义:' %>
        <%= f.text_field :damage_define %>
      </div>
      <div class="col-sm-4">
        <%= f.label :maintainman, '维修人员:' %>
        <%= f.text_field :maintainman %>
      </div>
    </div>
    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :m_qty, '数量:' %>
        <%= f.text_field :m_qty %>
      </div>
      <div class="col-sm-4">
        <%= f.label :machine_id, '机器号:' %>
        <%= f.text_field :machine_id %>
      </div>
      <div class="col-sm-4">
        <%= f.label :press_num, '压接次数:' %>
        <%= f.text_field :press_num %>
      </div>
    </div>
    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">

      <div class="col-sm-4">
        <%= f.label :operater, '操作员:' %>
        <%= f.text_field :operater %>
      </div>


      <div class="col-sm-4">
        <%= f.label :is_ok, '验收确认:' %>
        <%= f.text_field :is_ok %>
      </div>

      <div class="col-sm-4">
        <%= f.label :sort, '分类:' %>
        <%= f.text_field :sort %>
      </div>
    </div>
    <div style="display: inline-flex; width: 100%;margin-bottom: 10px;">
      <div class="col-sm-4">
        <%= f.label :outbound_id, '出库单号:' %>
        <%= f.text_field :outbound_id %>
      </div>

      <div class="col-sm-4">
        <%= f.label :switch_date, '日期:' %>
        <%= f.text_field :switch_date, class: 'datetime-picker' %>
      </div>
    </div>

    <hr style="border: 1px solid #000;opacity: 0.5;"/>
    <button type="submit" style="margin-left: 10px;margin-top:0;" class="btn btn-primary" name="commit">完成</button>
<% end %>

<script type="text/javascript">
    $(document).ready(function () {
        $("#knife_switch_record_knife_kind").val("<%= @knife_switch_record.knife_kind %>");
    });
</script>