<p id="notice"><%= notice %></p>
<style type="text/css">
    hr {
        border: 1px solid #000;
    }

    .btn {
        margin-left: 10%;
        margin-top: 10%;
        color: #fff;
    }

    th, td {
        text-align: center;
    }

    .col-sm-2, .col-sm-3 {
        float: none;
        text-align: left;
    }

    .col-sm-2 > label, .col-sm-2 > input, .col-sm-3 > label, .col-sm-3 > input, .col-sm-4 > label, .col-sm-4 > input {
        margin-top: 20px;
    }

    .col-sm-2 > select, .col-sm-3 > select {
        width: 80px;
    }

    .col-sm-5 > label {
        margin-top: 20px;
    }

    .col-sm-5 > input {
        width: 25%;
    }
</style>

<p class="title">换刀记录 <i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 158px;"/>


<div class="slide">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">

    <div style="display: inline-flex;" class="col-sm-12">
      <div class="col-sm-2">
        <label for="mould_id:">模具号：</label>
        <input type="text" name="knife_switch_record[mould_id]" value="<%= @mould_id %>">
      </div>

      <div class="col-sm-5">
        <label for="date:">日期：从</label>
        <input type="text" name="knife_switch_record[switch_date][start]" value="<%= @switch_date_start %>" class="date-picker">
        <b>到</b>
        <input type="text" name="knife_switch_record[switch_date][end]" value="<%= @switch_date_end %>" class="date-picker">
      </div>

      <!--此处开始为 查询条件新增项-->

      <div class="col-sm-2">
        <label for="mould_id:">项目：</label>
        <input type="text" name="knife_switch_record[project_id]" value="<%= @project_id %>">
      </div>

      <!--刀片分类已经做过查询-->
      <div class="col-sm-3">
        <label for="knife_type:">刀片分类：</label>
        <select name="knife_switch_record[knife_kind]" include_blank="true">
          <% {ALL: nil, CH: 'CH', CW: 'CW', ICH: 'ICH', ICW: 'ICW'}.each do |k, v| %>
              <option value="<%= v %>" <%= 'selected' if @knife_kind==v %>> <%= k %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div style="display: inline-flex;" class="col-sm-12">
      <div class="col-sm-2">
        <label for="mould_id:">刀片型号：</label>
        <input type="text" name="knife_switch_record[knife_type]" value="<%= @knife_type %>">
      </div>

      <div class="col-sm-5">
        <label for="mould_id:">供应商：</label>
        <input type="text" name="knife_switch_record[knife_supplier]" value="<%= @knife_supplier %>">

        <label for="mould_id:" style="margin-left: 15px;">出库单号：</label>
        <input type="text" name="knife_switch_record[outbound_id]" value="<%= @outbound_id %>">
      </div>

      <!--此处开始为 查询条件新增项-->

      <div class="col-sm-2">
        <label for="state:">损坏状态：</label>
        <select name="knife_switch_record[state]" include_blank="true">
          <% {ALL: nil, 断裂: '断裂', 磨损: '磨损'}.each do |k, v| %>
              <option value="<%= v %>" <%= 'selected' if @state==v %>> <%= k %></option>
          <% end %>
        </select>
      </div>

      <div class="col-sm-2" style="display: inline-flex;">
        <input type="submit" value="查 找" class="btn btn-primary" name="search"/>
        <input type="submit" value="导 出" class="btn btn-primary" name="download"/>
      </div>
    </div>
  </form>
</div>


<div>
  <hr/>
</div>

<div style="display: inline-flex;width: 100%;">
  <div class="trapezoid">
    <p style="margin-top: 25%;">换刀记录表</p>
  </div>

  <div class="digg_pagination" style="margin-top: 30px;">
    <div class="page_info">
      <%= page_entries_info @knife_switch_records %>
    </div>
    <%= will_paginate @knife_switch_records, :container => false %>
  </div>
  <% if current_user.can_edit %>
      <div style="display: inline-flex;margin-left: 20px;">
        <%= link_to '新增', new_knife_switch_record_path, :class => 'btn btn-info',
                    :style => 'color:#000;padding-top:10px;margin-left:10px;' %>

        <%= link_to '导入数据', import_knife_switch_records_path, :class => 'btn btn-primary',
                    :style => 'color:#000;padding-top:10px;margin-left:50px;' %>
      </div>
  <% end %>
</div>

<div style="margin-left:50px;" id="table_div">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr style="background-color: #ccc">
      <th style="width: 110px;">模具号</th>
      <th>项目</th>
      <th>刀片型号</th>
      <th>刀片分类</th>
      <th>供应商</th>
      <th>损坏状态</th>
      <th>损坏定义</th>
      <th>压接次数</th>
      <th>磨损寿命</th>
      <th>断裂寿命</th>
      <th>分类</th>
      <th>出库单号</th>
      <th>日期</th>
      <th>切片图链接</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @knife_switch_records.each do |knife_switch_record| %>
        <tr>
          <td><%= knife_switch_record.mould_id %></td>
          <td><%= knife_switch_record.project_id %></td>
          <td><%= knife_switch_record.knife_type %></td>
          <td><%= knife_switch_record.knife_kind %></td>
          <td><%= knife_switch_record.knife_supplier %></td>
          <td><%= knife_switch_record.state %></td>
          <td><%= knife_switch_record.damage_define %></td>
          <td><%= best_in_place knife_switch_record, :press_num, as: :input %></td>
          <td><%= knife_switch_record.damage_life %></td>
          <td><%= knife_switch_record.broken_life %></td>
          <td><%= knife_switch_record.sort %></td>
          <td><%= knife_switch_record.outbound_id %></td>
          <td><%= knife_switch_record.switch_date_day_str %></td>
          <td><a href="mold:open?file=<%= knife_switch_record.image_id %>"><%= knife_switch_record.image_id %></a></td>
          <td><%= link_to '[详情]', knife_switch_record %>
            <% if current_user.can_edit %>
                <%= link_to '[编辑]', edit_knife_switch_record_path(knife_switch_record) %>
            <% end %>
            <% if current_user.can_delete %>
                <%= link_to '[删除]', knife_switch_record, method: :delete, data: {confirm: '确定删除?'} %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <!--
  <div class="digg_pagination" style="text-align: center">
    <%= will_paginate @knife_switch_records, :container => false %>
  </div>
  -->
</div>
