<p id="notice"><%= notice %></p>
<style type="text/css">

    .col-sm-4 {
        float: none;
        margin-left: 20px;
        text-align: left;
        display: inline-flex;
        width: 30%;
        margin-top: 10px;
    }

    p {
        width: 150px;
    }

    hr {
        border: 1px solid #ccc;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    h1 {
        margin-left: 10px;
    }
</style>

<h1>换刀记录<em>详情</em></h1>

<hr/>
<div style="display: inline-flex; width: 100%; ">
  <div class="col-sm-4" style="display: inline-flex;">
    <p>模具号： </p>
    <%= @knife_switch_record.mould_id %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>项目： </p>
    <%= @knife_switch_record.project_id %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>刀片型号： </p>
    <%= @knife_switch_record.knife_type %>
  </div>
</div>
<hr/>
<div style="display: inline-flex; width: 100%;">
  <div class="col-sm-4">
    <p>刀片分类： </p>
    <%= @knife_switch_record.knife_kind %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>供应商： </p>
    <%= @knife_switch_record.knife_supplier %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>损坏状态： </p>
    <%= @knife_switch_record.state %>
  </div>
</div>
<hr/>

<div style="display: inline-flex; width: 100%;">
  <div class="col-sm-4">
    <p>问题描述： </p>
    <%= @knife_switch_record.problem %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>损坏定义： </p>
    <%= @knife_switch_record.damage_define %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>维修人员： </p>
    <%= @knife_switch_record.maintainman %>
  </div>
</div>
<hr/>

<div style="display: inline-flex; width: 100%;">
  <div class="col-sm-4">
    <p>数量： </p>
    <%= @knife_switch_record.m_qty %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>机器号： </p>
    <%= @knife_switch_record.machine_id %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>压接次数： </p>
    <%= @knife_switch_record.press_num %>
  </div>
</div>
<hr/>

<div style="display: inline-flex; width: 100%;">
  <div class="col-sm-4">
    <p>damage_life： </p>
    <%= @knife_switch_record.damage_life %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>broken_life： </p>
    <%= @knife_switch_record.broken_life %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>total_life： </p>
    <%= @knife_switch_record.total_life %>
  </div>
</div>
<hr/>


<div style="display: inline-flex; width: 100%;">
  <div class="col-sm-4">
    <p>操作员： </p>
    <%= @knife_switch_record.operater %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>验收确认： </p>
    <%= @knife_switch_record.is_ok %>
  </div>

  <div class="col-sm-4" style="display: inline-flex;">
    <p>分类： </p>
    <%= @knife_switch_record.sort %>
  </div>
</div>
<hr/>

<div style="display: inline-flex; width: 100%;">
  <div class="col-sm-4">
    <p>出库单号： </p>
    <%= @knife_switch_record.outbound_id %>
  </div>

</div>
<hr style="border: 1px solid #000">

<%= link_to '编辑', edit_knife_switch_record_path(@knife_switch_record), :class => 'btn btn-info', :style => 'color:#000; margin-left:2%;margin-top:1%;' %>
<%= link_to '返回', knife_switch_records_path, :class => 'btn btn-info', :style => 'color:#000; margin-left:2%;margin-top:1%;' %>
