<p id="notice"><%= notice %></p>

<p>
  <strong>Mould:</strong>
  <%= @knife_switch_record.mould_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @knife_switch_record.project_id %>
</p>

<p>
  <strong>Knife type:</strong>
  <%= @knife_switch_record.knife_type %>
</p>

<p>
  <strong>Knife kind:</strong>
  <%= @knife_switch_record.knife_kind %>
</p>

<p>
  <strong>Knife supplier:</strong>
  <%= @knife_switch_record.knife_supplier %>
</p>

<p>
  <strong>State:</strong>
  <%= @knife_switch_record.state %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @knife_switch_record.problem %>
</p>

<p>
  <strong>Damage define:</strong>
  <%= @knife_switch_record.damage_define %>
</p>

<p>
  <strong>Maintainman:</strong>
  <%= @knife_switch_record.maintainman %>
</p>

<p>
  <strong>M qty:</strong>
  <%= @knife_switch_record.m_qty %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @knife_switch_record.machine_id %>
</p>

<p>
  <strong>Press num:</strong>
  <%= @knife_switch_record.press_num %>
</p>

<p>
  <strong>Damage life:</strong>
  <%= @knife_switch_record.damage_life %>
</p>

<p>
  <strong>Broken life:</strong>
  <%= @knife_switch_record.broken_life %>
</p>

<p>
  <strong>Total life:</strong>
  <%= @knife_switch_record.total_life %>
</p>

<%= link_to 'Edit', edit_knife_switch_record_path(@knife_switch_record) %> |
<%= link_to 'Back', knife_switch_records_path %>
